html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 512px;
}

body > section {
    display: none;
}

body > section.active {
    display: block;
}

#progress {
    width: 100%;
    background-color: grey;
}

#bar {
    width: 0;
    height: 32px;
    background-color: green;
}
