html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 512px;
}

body > section {
    display: none;
}

body > section.active {
    display: block;
}

#header {
    display: block;
    text-align: center;
    color: #b8b8b8;
    background-color: #b2b2b2;
    text-shadow: 0px 0px 4px black;
    padding: 1px 0;
}

#progress-wrapper {
    padding: 8px;
}

#text-progress {
    visibility: hidden;
}

#progress {
    width: 100%;
    border: 1px solid darkgray;
    background-color: grey;
}

#bar {
    width: 0;
    height: 24px;
    background: rgb(0,128,0);
    background: linear-gradient(90deg, rgba(0,128,0,1) 0%, rgba(0,192,0,1) 100%);
}

#entries-wrapper {
    display: table;
    width: 100%;
    max-height: 600px;
    border-collapse: collapse;
}

#extracting {
    border: 1px dotted gray;
}

.entry {
    display: table-row;
}

.entry:not(.header):hover {
    background-color: #eeeeee;
}

.entry.header {
    font-weight: bolder;
}

.entry.header > .entry-value,
.entry.header > .entry-context {
    border-top: none;
    background-color: #ffffbb;
}

.entry:last-child > .entry-value,
.entry:last-child > .entry-context {
    border-bottom: none;
}

.entry-value, .entry-context {
    display: table-cell;
    border: 1px dotted gray;
    padding: 2px 4px;
}

.entry-value {
    text-transform: capitalize;
    border-left: none;
    font-weight: bold;
}

.entry-context {
    border-right: none;
}
